<resources>
    <integer name="WORKSPACE_Y">5</integer>
    <integer name="MIN_SCREEN_COUNT">1</integer>
    <integer name="MAX_SCREEN_COUNT">15</integer>
    <integer name="DEFAULT_SCREEN">0</integer>
    <integer name="WORKSPACE_TEXT_SIZE">13</integer>
    <integer name="APPS_TEXT_SIZE">14</integer>
    <integer name="ALL_APPS_START_SCREEN">1</integer>
    <boolean name="GOOGLE_FOLDER_CREATE">false</boolean>
    <integer name="CLING_FIRSTRUN_TYPE">2</integer>
    <boolean name="CALENDER_ALARM_DYNAMIC_ICON">false</boolean>
    <boolean name="THEME_ITEM_NEW_BACKGROUND">true</boolean>
    <boolean name="HOME_SCREEN_PRESENT">true</boolean>
    <boolean name="TEXT_ON_HOTSEAT">false</boolean>
    <boolean name="APP_ICON_REPLACE">true</boolean>
    <boolean name="VIRTUAL_KEY">true</boolean>
    <integer name="MENU_WIDGET_Y">1</integer>
    <integer name="MENU_WALLPAPER_Y">1</integer>
    <integer name="MENU_THEME_Y">1</integer>
    <integer name="MENU_THEME_X">3</integer>
    <integer name="MENU_EFFECT_Y">1</integer>
    <boolean name="NEW_APP_MARK">false</boolean>
    <string name="DIALER_PACKAGE">com.android.contacts/com.android.contacts.activities.DialtactsActivity</string>
    <string name="MMS_PACKAGE">com.android.mms/com.android.mms.ui.ConversationList</string>
    <boolean name="APP_DRAG_RETURN_APP">false</boolean>
    <boolean name="BROADCAST_TO_FINGERPRINT">true</boolean>
    <integer name="ALL_APP_COL_NUM">4</integer>
    <boolean name="USE_OWN_NOTDISABLE_APPLIST">true</boolean>
    <boolean name="DRAG_CIRCULARLY">false</boolean>
    <boolean name="WIDGET_CACULATE_ALL">true</boolean>
    <boolean name="PRESSURE_SCREEN">true</boolean>
    <integer name="STANDARD_DENSITY">640</integer>
    <boolean name="IGNORE_DENSITY_CHANGE">true</boolean>
    <boolean name="ENABLE_SINGLE_LINE">false</boolean>
    <boolean name="NO_STRIP_EMPTY_SCREEN">true</boolean>
    <integer name="DEFAULT_WALLPAPER_INDEX">1</integer>
    <integer name="WORKSPACE_ICON_TEXT_PADDING">5</integer>
    <integer name="HOTSEAT_HEIGHT">300</integer>
    <integer name="WORKSPACE_TOP_PADDING">33</integer>
    <boolean name="HIDE_THEME">false</boolean>
    <string name="TEXT_ON_HOTSEAT_MODE">hide</string>
    <boolean name="WALLPAPER_NO_SELECT_FRAME">true</boolean>
</resources>
