# get software upgrade flag
service boot-su /system/bin/bootservice readswupgradeflag
    class late_start
    user root
    oneshot

#get anti theft status
service boot-at /system/bin/bootservice readantitheftflag
    class late_start
    user root
    oneshot

